.mat-drawer-container {
  min-height: 100vh;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.menu-btn {
  margin-right: 15px;
  transition: color 150ms ease-in-out;
  cursor: pointer;
  &:hover{
    //filter: invert(0%);
    color: black;
  }
}
