<mat-drawer-container class="mat-drawer-container" autosize>

  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img class="logo" src="assets/favicons/favicon-96x96.png" alt="CRM-Logo">
      <div class="logo-text">- Console</div>
    </div>

    <ul class="menu-items">

      <li routerLink='/dashboard'  routerLinkActive="active-route">Dashboard
        <mat-icon>dashboard</mat-icon>
      </li>

      <li routerLink='/user'  routerLinkActive="active-route">User
        <mat-icon>person_outline</mat-icon>
      </li>

    </ul>

  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-icon class="menu-btn" (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>
  </div>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
