<mat-card class="user-detail-header">

  <img src="../../assets/img/profile_silhouette.png"
       class="profile-pic">
  <div class="user-infos">
    <h2>{{user.firstName}} {{user.lastName}} </h2>
    {{user.email}}
  </div>

  <button mat-icon-button
          class="more-icon-btn icon-btn"
          [matMenuTriggerFor]="headerMenu">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #headerMenu="matMenu">
    <button mat-menu-item
            (click)="editNameEmail()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
  </mat-menu>

</mat-card>

<mat-card class="address-card">

  <mat-card-title>Address</mat-card-title>

  <mat-card-content>
    {{user.street}} <br>
    {{user.zipCode}} {{user.city}}
  </mat-card-content>

  <button mat-icon-button
          class="more-icon-btn icon-btn"
          [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item
            (click)="editAddress()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
  </mat-menu>

</mat-card>
