.table {
  color: rgba(0, 0, 0, .6);
  width: 100%;
  border-collapse: collapse;


  tr:not(:first-child) {
    cursor: pointer;

    &:hover {
      background-color: var(--primary-lighter-color);
    }
  }

  th {
    text-align: left;
    padding: 2px 5px;
  }

  td {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    padding: 8px 5px;
  }
}


.btn-user-add {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
