<mat-card>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>E-Mail</th>
    </tr>
    <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user['userId']]">
      <td>{{user['firstName']}} {{user['lastName']}}</td>
      <td>{{generateBirthDate(user['birthDate'])}}</td>
      <td>{{user['email']}}</td>
    </tr>

  </table>
</mat-card>


<button class="btn-user-add"
        (click)="openDialog()" mat-fab color="primary" matTooltip="Add User">
  <mat-icon>person_add</mat-icon>
</button>
