<mat-card>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>E-Mail</th>
    </tr>
    <tr>
      <td>Bastian Harttung</td>
      <td>23/05/1983</td>
      <td>info@bastian-harttung.de</td>
    </tr>
    <tr>
      <td>Bastian Harttung</td>
      <td>23/05/1983</td>
      <td>info@hartt.de</td>
    </tr>
  </table>
</mat-card>


<button class="btn-user-add"
        (click)="openDialog()" mat-fab color="primary" matTooltip="Add User">
  <mat-icon>person_add</mat-icon>
</button>
